@import url('https://fonts.googleapis.com/css2?family=Encode+Sans+SC&family=Lato&family=Montserrat&family=Open+Sans&family=Raleway&family=Roboto&family=Source+Code+Pro&display=swap');

/* 
----------- FONT FAMILIES -------------

font-family: 'Encode Sans SC', sans-serif;

font-family: 'Lato', sans-serif;

font-family: 'Montserrat', sans-serif;

font-family: 'Open Sans', sans-serif;

font-family: 'Raleway', sans-serif;

font-family: 'Roboto', sans-serif;

font-family: 'Source Code Pro', monospace;

*/

/* 
----------- TURQUOISE COLOURS ------------ 
paleturquoise 	#AFEEEE 	rgb(175,238,238)
turquoise 	#40E0D0 	rgb(64,224,208)
mediumturquoise 	#48D1CC 	rgb(72,209,204)
darkturquoise 	#00CED1 	rgb(0,206,209)
*/

* {
  box-sizing: border-box;
}

body {
  background-color: #2b2d42;
  /* background-color: #ffb6c1; */
  color: #edf2f4;
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  list-style: none;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

header {
  background-color: #202236;
  font-family: 'Source Code Pro', monospace;
  padding: 0.3rem;
}

.navbar li {
  border-radius: 1px;
  transition: all 0.25s;
  background-color: #2b2d42;
  padding: 0.5rem;
}

.navbar li:hover {
  /* border-color: #fca311; */
  box-shadow: 0 0.5em 0.5em -0.4em #fca311;
  transform: translateY(-0.25em);
  color: #00ced1;
  font-weight: bold;
  font-size: 1.1rem;
}

h2,
h3 {
  font-family: 'Source Code Pro', monospace;
}

.links {
  transition: all 0.3s;
  z-index: 1;
}

.links:hover {
  transform: scale(1.3);
  background-color: rgba(94, 97, 126, 0.1);
  border-radius: 50%;
  box-shadow: 0 0.5em 0.9em -0.4em #fca311;
}

#About img {
  width: 50vw;
  height: 50vh;
  border-radius: 50%;
  background-size: cover;
  /* border: 2px solid rgba(247, 202, 24, 1); */
  border: 1px solid #00ced1;
}

#About {
  margin-top: 2rem;
}

.member {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  max-height: 90%;

  margin: 0;
  padding: 1rem;
  border: 2px solid #b2265c;
  border-radius: 5px;
  /* box-shadow: 12px 12px 2px 1px rgba(0, 0, 255, 0.2); */
  box-shadow: 12px 12px 2px 1px rgba(214, 87, 155, 0.2);
}

.member img {
  height: 10em;
  width: 10em;
  border-radius: 50%;
  box-shadow: -4px -4px 10px rgba(43, 45, 66, 0.5),
    inset 4px 4px 10px rgba(0, 0, 0, 0.5), inset 0 0 10px rgba(43, 45, 66, 0.1),
    0 0 10px rgba(0, 0, 0, 0.5);
}

/* ---------------------- MEMBERS FORM ----------------------  */
.warning {
  border: 3px solid rgba(230, 72, 167, 0.6);
  border-radius: 2px;
  animation: blink 0.5s step-end infinite alternate;
  transition: all 0.3s;
  box-shadow: 3px 3px 2px 1px rgba(222, 96, 163, 0.2);
}

.span-text {
  color: rgba(230, 72, 167, 0.9);
  font-size: 0.9rem;
  transition: all 0.5s;
}

.hide {
  display: none;
}

#Members {
  border: 2px solid #00ced1;
  box-shadow: 12px 12px 2px 1px rgba(0, 206, 209, 0.2);
}

input:focus,
textarea:focus {
  border: 2px solid #00ced1;
  box-shadow: 9px 9px 2px 1px rgba(0, 206, 209, 0.2);
}

/* ---------------------- F O O T E R ----------------------  */
footer {
  margin-top: 5rem;
  padding: 0.5rem;
}
/* --------------------------- PRIMITIVES --------------------------- */

/* ---> CENTER / WIDTH */
.center {
  max-width: 40rem;
  margin-left: auto;
  margin-right: auto;
}

.width-sm {
  max-width: 20rem;
}

.width-md {
  max-width: 50rem;
}

.width-lg {
  max-width: 60rem;
}

/* ---> MARGIN STACKS */
.stack-sm > * + * {
  margin-top: 0.5rem;
}

.stack-md > * + * {
  margin-top: 1rem;
}

.stack-lg > * + * {
  margin-top: 2rem;
}

.stack-xl > * + * {
  margin-top: 4rem;
}

.stack-xxl > * + * {
  margin-top: 8rem;
}

/* ---> HORIZONTAL ALIGNMENT */
.row {
  display: flex;
  gap: 1rem;
  /* flex-wrap: wrap; */
  align-items: center;
}

.gap-lg {
  gap: 2rem;
}

.gap-xl {
  gap: 4rem;
}

.justify-space-between {
  justify-content: space-between;
}

/* ---> GRID */
.grid {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 1.1rem;
  grid-auto-rows: 1fr;
}

@media (min-width: 800px) {
  header {
    padding: 0.3rem;
  }

  .grid {
    gap: 1.7rem;
    grid-template-columns: repeat(2, 1fr);
  }
  .navbar li {
    border-radius: 5px;
  }
  #About img {
    width: 500px;
    height: 500px;
    /* border: 2px solid rgba(247, 202, 24, 1); */
    border: 3px solid #00ced1;
    border-radius: 50%;
  }
}
